@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-easyui/jquery.min.js"></script>
    <script src="~/Scripts/Account/Login.js"></script>
    <script src="~/Scripts/pro/abp.jquery.ajax.js"></script>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>用户名：</td>
                <td><input type="text" id="UserName" /></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="text" id="Password" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="登录" id="btn_Login2"/></td>
            </tr>
        </table>
    </div>

</body>
</html>
