@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}
@section JavaScript{
    <script src="/Areas/PermissionManager/Scripts/Department/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<input id="BindEntity" type="hidden" value="@ViewBag.BindEntity" />
<input id="Command" type="hidden" />
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            <tr>
                <td style="width: 100px">
                    上级部门<span style="color: Red">*</span>
                </td>
                <td>
                    <input id="ParentDepartmentCode" name="ParentDepartmentCode" type="text" style="width: 400px" />
                </td>
            </tr>
            <tr>
                <td>
                    部门编码<span style="color: Red">*</span>
                </td>
                <td>
                    <input id="DepartmentCode" name="DepartmentCode" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    部门名称<span style="color: Red">*</span>
                </td>
                <td>
                    <input id="DepartmentName" name="DepartmentName" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    类型<span style="color: Red">*</span>
                </td>
                <td>
                    <select id="DepartmentType" name="DepartmentType" class="easyui-combobox">
                        <option value="0">机构</option>
                        <option value="1">科室</option>
                    </select>
                   
                </td>
            </tr>
            <tr>
                <td>
                    备注
                </td>
                <td>
                    <input id="Remark" name="Remark" type="text" style="width: 400px" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>
