@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/HRManager/Scripts/Attendance/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            <tr>
                <td>
                    工号 <span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="EmployeeCode" name="EmployeeCode" type="text" />
                </td>

                <td>
                    部门 <span style="color: Red">*</span>:
                </td>
                <td>
                    <span id="DepartmentName_span"></span>
                    <input id="DepartmentCode" name="DepartmentCode" type="hidden"/>
                    <input id="DepartmentName" name="DepartmentName" type="hidden" />
                </td>

                <td>
                    状态<span style="color: Red">*</span>:
                </td>
                <td>
                    <select id="State" name="State">
                        <option value="">全部</option>
                        <option value="日">日班</option>
                        <option value="夜">夜班</option>
                        <option value="公">公休</option>
                        <option value="值">值班</option>
                        <option value="缺">缺勤</option>
                    </select>
                </td>

                <td>
                    考勤日期<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="Date" name="Date" type="text" onclick="WdatePicker();" />
                </td>
            </tr>

            <tr>
                <td>
                    备注： <span style="color: Red">*</span>:
                </td>
                <td colspan="7">
                    <textarea id="Remark" name="Remark" style="width: 500px;height: 100px"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



