

  


@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/HRManager/Scripts/Technical/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
<input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
<input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            
              <tr>
            <td  >
                <span style="color: Red">*</span>:
            </td>
            <td >
                <input id="PkId" name="PkId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                员工编号<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="EmployeeCode" name="EmployeeCode"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                部门编号<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="DepartmentCode" name="DepartmentCode"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                名称<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="Title" name="Title"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                等级<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="LevNum" name="LevNum"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                取得时间<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="GetDate" name="GetDate"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                职称证书编号<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="CerNo" name="CerNo"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                操作人员<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="CreatorUserCode" name="CreatorUserCode"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                操作人员名称<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="CreatorUserName" name="CreatorUserName"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                创建时间<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="CreationTime" name="CreationTime"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                修改时间<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="LastModificationTime" name="LastModificationTime"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                修改人<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="LastModifierUserCode" name="LastModifierUserCode"  type="text"  />
            </td>
        </tr>
          
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"]==null||int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>





