<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_Head")
    @RenderSection("JavaScript", false)
</head>
<body class="easyui-layout" style="overflow: hidden" scroll="no" border="false">
    <div data-options="region:'center',border:false" style="overflow: hidden">
        <div class="easyui-panel" style="padding:10px;" title="" data-options="fit:true,border:false">
            @RenderBody()
        </div>
    </div>
</body>
</html>
