<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_Head")
    @RenderSection("JavaScript", false)
</head>
<body class="easyui-layout" style="overflow: hidden" scroll="no" border="false">

    @RenderBody()

</body>
</html>