@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutList2.cshtml";
}

@section JavaScript{
    <script src="/Areas/HRManager/Scripts/GroupEmployee/List.js?JsParamter=@SiteConfig.GetConfig().JsParamter" type="text/javascript"></script>
}

<div region="west" split="true" title="组" style="width:520px;" border="false">
    <table id="datagrid" style="height:auto;" iconcls=".icon-save" singleselect="true" toolbar="#tb" fit="true"></table>
    <div id="tb" style="padding:5px;height:auto">
        <div id="divSearch" style="margin-bottom:5px;">
            组名称：<input id="GroupName" name="GroupName" type="text" style="width:100px;" />
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" id="btnSearchGroup" plain="true">搜索</a>
            <a id="btnReload" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">刷新</a>
        </div>
    </div>
</div>
<div region="center" title="成员" id="center" border="false">
    <div class="datagrid-toolbar" style="padding:5px;height:auto">
        <div style="margin-bottom:5px;">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
            <a id="btnDel" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
            <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true">刷新</a>
            员工编号：<input id="EmployeeCode" name="EmployeeCode" type="text" style="width:100px;" />
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" id="btnSearchRole" plain="true">搜索</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" id="btnRefresh" plain="true">刷新</a>
        </div>
    </div>
   
    <table id="datagriddetail" style="height:auto;" iconcls=".icon-save" singleselect="true" fit="true"></table>

</div>






