@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/PermissionManager/Scripts/Module/Hd.js"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>

<div class="mtable_div">
    <form id="form1">
        <table class="mtable">

            <tr>
                <td style="width: 100px">
                    模块名称<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="ModuleName" name="ModuleName" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    排序:
                </td>
                <td>
                    <input id="RankId" name="RankId" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    备注:
                </td>
                <td>
                    <input id="Remark" name="Remark" type="text" />
                </td>
            </tr>

        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



