




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/HRManager/Scripts/EmployeeYearMain/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            <tr>
                <td>
                    部门<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="DepartmentCode" name="DepartmentCode" type="text" style="width:200px;" />
                </td>

                <td>
                    员工<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="EmployeeCode" name="EmployeeCode" type="text" class="easyui-combobox">
                </td>
            </tr>

            <tr>
                <td>
                    年休天数<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="LeftCount" name="LeftCount" type="text" class="easyui-numberbox" />
                </td>

                <td>
                    备注 @*<span style="color: Red">*</span>*@:
                </td>
                <td>
                    <input id="Remark" name="Remark" type="text" style="width:200px;" />
                </td>
            </tr>

        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



