




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/RiverManager/Scripts/River/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">

            <tr>
                <td style="width: 120px">
                    河道名称<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="RiverName" name="RiverName" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    归属部门<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="DepartmentCode" name="DepartmentCode" type="text" style="width: 300px" />
                </td>
            </tr>
            <tr>
                <td>
                    河道等级<span style="color: Red">*</span>:
                </td>
                <td>
                    <select id="RiverRank" name="RiverRank">
                        <option value="区级">区级</option>
                        <option value="镇级">镇级</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    河道范围:
                </td>
                <td>
                    <input id="RiverArea" name="RiverArea" type="text" style="width: 200px" />
                </td>
            </tr>

            <tr>
                <td>
                    长度:
                </td>
                <td>
                    <input id="RiverLength" name="RiverLength" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    流经乡（镇）:
                </td>
                <td>
                    <input id="RiverCrossArea" name="RiverCrossArea" type="text" style="width: 300px" />
                </td>
            </tr>

            <tr>
                <td>
                    坐标:
                </td>
                <td>
                    <input id="Coords" name="Coords" type="text" style="width: 500px"/>
                </td>
            </tr>


            <tr>
                <td>
                    备注:
                </td>
                <td>
                    <input id="Remark" name="Remark" type="text" />
                </td>
            </tr>

        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



