
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>天地图－地图API－范例－测面工具</title><script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jqueryPlugins/jquery_json/Json.js"></script>
    <script type="text/javascript" src="http://api.tianditu.com/js/maps.js"></script>

  
    <script>

        var map,zoom=12,polygonTool;
        function onLoad()
        {
            //初始化地图对象
            map=new TMap("mapDiv");
            //设置显示地图的中心点和级别
            map.centerAndZoom(new TLngLat(116.40969,39.94940),zoom);
            //允许鼠标滚轮放大地图
            map.enableHandleMouseScroll();

            var config = {
                strokeColor:"blue",	//折线颜色
                fillColor:"#FFFFFF",	//填充颜色。当参数为空时，折线覆盖物将没有填充效果
                strokeWeight:"3px",	//折线的宽度，以像素为单位
                strokeOpacity:0.5,	//折线的透明度，取值范围0 - 1
                fillOpacity:0.5			//填充的透明度，取值范围0 - 1
            };
            //创建测面工具对象
            polygonTool = new TPolygonTool(map,config);
            //注册测面工具绘制完成后的事件
            TEvent.addListener(polygonTool, "draw", onDrawPolygon);
           // TEvent.addListener(polygonTool, "addpoint", onAddPoint);



            polygonTool.open();

           

            alert(JSON.stringify(new TLngLat(116.41136, 39.97569)));

            var points = [];
        
            points.push(new TLngLat(116.41136, 39.97569));
          
            points.push(new TLngLat(116.411794, 39.9068));
        
            points.push(new TLngLat(116.32969, 39.92940));
       
            points.push(new TLngLat(116.385438, 39.90610));
    

            console.log(JSON.stringify(points));

            //创建面对象
         
            var polygon = new TPolygon(points, { strokeColor: "blue", strokeWeight: 6, strokeOpacity: 0.5, fillOpacity: 0.5 });
         
            //向地图上添加面
          
            map.addOverLay(polygon);





          
        }

        //关闭测面工具
        function onDrawPolygon(bounds,line) {
            alert(JSON.stringify(bounds));
            alert(line);

            var polygon = new TPolygon(bounds, { strokeColor: "red", strokeWeight: 6, strokeOpacity: 0.5, fillOpacity: 0.5 });


            var point2 = JSON.parse('[{ "MercatorLng": 12956641.831149774, "MercatorLat": 4861534.772466144, "lngNTU": 11639149, "latNTU": 3996966 }, { "MercatorLng": 12965546.7449434, "MercatorLat": 4861725.865036823, "lngNTU": 11647148, "latNTU": 3997097 }, { "MercatorLng": 12960501.901077483, "MercatorLat": 4855687.339803375, "lngNTU": 11642616, "latNTU": 3992939 }, { "MercatorLng": 12960540.11959162, "MercatorLat": 4857521.828481891, "lngNTU": 11642651, "latNTU": 3994203 }]');

            var polygon2 = new TPolygon(bounds, { strokeColor: "green", strokeWeight: 16, strokeOpacity: 0.5, fillOpacity: 0.5 });
        

            //向地图上添加面

            map.addOverLay(polygon);

            map.addOverLay(polygon2);


            polygonTool.close();
        }


        function onAddPoint(bounds, line) {
            alert(JSON.stringify(bounds));
            alert(line);
            polygonTool.close();
        }
    </script>
</head>
<body onLoad="onLoad()">
<div id="mapDiv" style="position: absolute; width: 600px; height: 500px"></div>
<div style="position: absolute; left: 620px;">
    <input type="button" value="开启" id="111" onClick="polygonTool.open();"/>
    <input type="button" value="关闭" onClick="polygonTool.close();"/>
    <ul>
        <li>本示例演示如何在地图上测面。</li>
        <p><a href="http://api.tianditu.com/api-new/examples.html">返回所有范例列表</a>
        </p>
    </ul>
</div>
<script type="text/javascript">
    $(function () {

            //$("#111").trigger("click");

            var t = [{ "MercatorLng": 12956641.831149774, "MercatorLat": 4861534.772466144, "lngNTU": 11639149, "latNTU": 3996966 }, { "MercatorLng": 12965546.7449434, "MercatorLat": 4861725.865036823, "lngNTU": 11647148, "latNTU": 3997097 }, { "MercatorLng": 12960501.901077483, "MercatorLat": 4855687.339803375, "lngNTU": 11642616, "latNTU": 3992939 }, { "MercatorLng": 12960540.11959162, "MercatorLat": 4857521.828481891, "lngNTU": 11642651, "latNTU": 3994203 }];


            // alert(11);
        }
        );
  
</script>
</body>
</html>