<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="NHibernate.Test">
    <!--<property name="current_session_context_class">wcf</property>-->
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">
      data source=111.1.31.40;database=OA;user id=saa;password=123456;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50
    </property>
    <property name="adonet.batch_size">10</property>
    <property name="show_sql">false</property>
    <property name="dialect">Project.Infrastructure.FrameworkCore.DataNhibernate.Helpers.CustomDialectSql, Project.Infrastructure.FrameworkCore</property>
    <property name="command_timeout">60</property>
    <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
  </session-factory>
</hibernate-configuration>

