





@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

@section JavaScript{
    <script src="/Areas/HRManager/Scripts/MessageInfo/List.js?JsParamter=@SiteConfig.GetConfig().JsParamter" type="text/javascript"></script>
}

<div title="信息提醒列表" style="padding:1px;">
    <table id="datagrid" style="height:auto;" iconcls=".icon-save" singleselect="true" toolbar="#tb" fit="true"></table>
    <div id="tb" style="padding:5px;height:auto">
        <div style="margin-bottom: 5px">
            @*<a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>

                <a id="btnDel" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>

                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>*@
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">查看</a>
            <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true">刷新</a>

        </div>

        <div id="divSearch">
            <form>

                <table class="mtable">

                    <tr>
                        <td style="width:60px;">
                            开始日期:
                        </td>
                        <td style="width:120px;">
                            <input id="CreationTime" name="CreationTime" type="text" class="Wdate" onclick="WdatePicker();" />
                        </td>
                        <td style="width:20px;">
                            至:
                        </td>
                        <td style="width: 120px;">
                            <input id="CreationTimeEnd" name="CreationTimeEnd" type="text" class="Wdate" onclick="WdatePicker();" />
                        </td>
                        <td style="width:60px;">
                            类型:
                        </td>
                        <td>
                            <select id="InfoType" name="InfoType">
                                <option value="0">全部</option>
                                <option value="1">生日提醒</option>
                                <option value="2">退休提醒</option>
                                <option value="3">合同过期提醒</option>
                                <option value="4">合同到期提醒</option>
                            </select>
                        </td>
                        <td>
                            <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSearch">搜索</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>





