@{
    ViewBag.Title = "Look";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/HrManager/Scripts/EmployeeInfo/Look.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
    <script src="~/Scripts/jqueryPlugins/jquery_uploadify/jquery.uploadify.js"></script>
    <link href="~/Scripts/jqueryPlugins/jquery_uploadify/uploadify.css" rel="stylesheet" />
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            <tr>
                <td>
                    员工编号<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="EmployeeCode" name="EmployeeCode" type="text" disabled="disabled" />
                </td>
                <td>
                    员工名称<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="EmployeeName" name="EmployeeName" type="text" disabled="disabled" />
                </td>
                <td>
                    所属部门<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="DepartmentCode" name="DepartmentCode" type="text" style="width: 200px" disabled="disabled" />
                </td>
            </tr>

            <tr>
                <td>
                    工号<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="JobName" name="JobName" type="text" />
                </td>
                <td>
                    姓别<span style="color: Red">*</span>:
                </td>
                <td>
                    <select id="Sex" name="Sex" class="easyui-combobox" disabled="disabled">
                        <option value="0">女</option>
                        <option value="1">男</option>
                    </select>
                </td>
                <td>
                    身份证<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="CertNo" name="CertNo" type="text" style="width:160px;" isIdCardNo="请输入正确身份证号" disabled="disabled" />
                </td>
            </tr>

            <tr>
                <td>
                    生日@*<span style="color: Red">*</span>*@:
                </td>
                <td>
                    <input id="Birthday" name="Birthday" class="Wdate" onclick="WdatePicker();" disabled="disabled" />
                </td>

                <td>
                    参加工作时间<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="StartWork" name="StartWork" type="text" class="Wdate" onclick="WdatePicker();" disabled="disabled" />
                </td>
                <td style="display: none">
                    工龄<span style="color: Red">*</span>:
                </td>
                <td style="display: none">
                    <input id="WorkingYears" name="WorkingYears" type="text" />
                </td>

                @*<td>
                        技术职称<span style="color: Red">*</span>:
                    </td>
                    <td>
                        <input id="TechnicalTitle" name="TechnicalTitle" type="text" />
                    </td>*@

                <td>
                    单位职务<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="Duties" name="Duties" type="text" disabled="disabled" />
                </td>
            </tr>
            <tr>

                <td>
                    岗位性质<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="PostProperty" name="PostProperty" type="text" />
                </td>
                <td>
                    入党时间:
                </td>
                <td colspan="3">
                    <input id="JoinCommy" name="JoinCommy" type="text" class="Wdate" onclick="WdatePicker();" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    在职状态<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="WorkState" name="WorkState" type="text" disabled="disabled" />
                </td>

                <td>
                    员工类型<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="EmployeeType" name="EmployeeType" type="text" disabled="disabled" />
                </td>
                <td>
                    岗位等级:
                </td>
                <td>
                    <input id="PostLevel" name="PostLevel" type="text" disabled="disabled" />
                </td>
                <td style="display: none">
                    状态:
                </td>
                <td style="display: none">
                    <select id="State" name="State" class="easyui-combobox" disabled="disabled">
                        <option value="0">停用</option>
                        <option value="1">启用</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>
                    手机号:
                </td>
                <td>
                    <input id="MobileNO" name="MobileNO" type="text" disabled="disabled" />
                </td>
                <td>
                    排序:
                </td>
                <td>
                    <input id="Sort" name="Sort" type="text" disabled="disabled" />
                </td>
                <td>
                    图片地址:
                </td>
                <td rowspan="3">
                    @*<input id="ImageUrl" name="ImageUrl" type="text" />*@
                    <div style="display: none">
                        <input id="FileUrl" name="FileUrl" type="text" />
                        <input id="FileName" name="FileName" type="text" />
                    </div>

                    <div style="float: left; width: 150px;">
                        <input id="file_upload" name="file_upload" type="file" style="display: none" />
                    </div>
                    <div style="float: left; line-height: 40px;" id="div_filename"></div>
                </td>
            </tr>
            <tr>
                <td>
                    家庭地址:
                </td>
                <td colspan="4">
                    <input id="HomeAddress" name="HomeAddress" type="text" style="width:350px" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    备注:
                </td>
                <td colspan="4">
                    <textarea id="Remark" name="Remark" style="width: 350px; height: 100px;" disabled="disabled"></textarea>
                </td>
            </tr>
        </table>
        <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false">
            <div title="工作经历" style="padding:1px;height: 300px">
                <table id="datagridwork" toolbar="#tbwork" fit="true"></table>
                <div id="tbwork" style="padding: 5px; height: auto">
                    @*<div style="margin-bottom: 5px">
                            <a id="btnAddWork_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
                            <a id="btnDelWork_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
                        </div>*@
                    <div id="divSearch">
                    </div>
                </div>
            </div>
            <div title="学习经历" style="padding:1px;height: 300px">
                <table id="datagridstudy" toolbar="#tbstudy" fit="true"></table>
                <div id="tbstudy" style="padding: 5px; height: auto">
                    @*<div style="margin-bottom: 5px">
                            <a id="btnAddStudy_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
                            <a id="btnDelStudy_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
                        </div>*@
                    <div id="divSearchStudy">
                    </div>
                </div>
            </div>
            <div title="职称记录" style="padding:1px;height: 300px">
                <table id="datagridTechnical" toolbar="#tbTechnical" fit="true"></table>
                <div id="tbTechnical" style="padding: 5px; height: auto">
                    @*<div style="margin-bottom: 5px">
                            <a id="btnAddTechnical_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
                            <a id="btnDelTechnical_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
                        </div>*@
                    <div id="divSearchTechnical">
                    </div>
                </div>
            </div>
            <div title="专业技术资格" style="padding: 1px; height: 300px">
                <table id="datagridProfession" toolbar="#tbProfession" fit="true"></table>
                <div id="tbProfession" style="padding: 5px; height: auto">
                    @*<div style="margin-bottom: 5px">
                            <a id="btnAddProfession_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
                            <a id="btnDelProfession_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
                        </div>*@
                    <div id="divSearchProfession">
                    </div>
                </div>
            </div>
            <div title="年度考核" style="padding:1px;height: 300px">
                <table id="datagridYear" toolbar="#tbYear" fit="true"></table>
                <div id="tbYear" style="padding: 5px; height: auto">
                    @*<div style="margin-bottom: 5px">
                        <a id="btnAddYear_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
                        <a id="btnDelYear_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
                    </div>*@
                    <div id="divSearchYear">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @*@if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
        {
            <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
        }
        else
        {
            <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
        }*@
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>

<script type="text/javascript">
    //$('#file_upload').uploadify({
    //    'formData': { "path": "ImgFile" },
    //    'swf': '/Scripts/jqueryPlugins/jquery_uploadify/uploadify.swf',
    //    'uploader': '/SystemSetManager/Upload/UploadImage',
    //    'buttonText': '上传图片',
    //    //'fileSizeLimit': '99999999999',//5MB
    //    //'sizeLimit': '99999999999',
    //    //'auto': true,
    //    //'method':'Post ',
    //    //'multi': true,
    //    'fileTypeDesc': 'Image Files',
    //    'fileTypeExts': '*.jpg;*.bmp;*.png;*.gif',
    //    'onUploadSuccess': function (file, data, response) {

    //        var json = $.parseJSON(data);
    //        if (json.success) {
    //            $('#div_filename').html("<span ><img name=\"listP\" style=\"height:206px;width:148px;\" src=\"" + json.extension.fileFullPath + "\">" + "</img> <a href=\"javascript:void(0)\" onclick=\"delImg(this);\">删除</a></span>");//+ json.extension.orgfileName
    //            $("#FileUrl").val(json.extension.fileUrl);
    //            $("#FileName").val(json.extension.fileName);
    //        } else {
    //            alert(json.msg);
    //        }
    //    }
    //});
    function delImg(obj) {
        $(obj).parent().remove();
        $("#FileUrl").val("");
        $("#FileName").val("");
    }


</script>


