@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/HRManager/Scripts/AttendanceUploadRecord/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
    <script src="~/Scripts/jqueryPlugins/jquery_uploadify/jquery.uploadify.js"></script>
    <link href="~/Scripts/jqueryPlugins/jquery_uploadify/uploadify.css" rel="stylesheet" />

}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">


            <tr>
                <td>
                    部门<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="DepartmentCode" name="DepartmentCode" type="text"  style="width: 300px"/>
                </td>
            </tr>
            <tr>
                <td>
                    月份 <span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="Date" name="Date" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM'});" />
                </td>
            </tr>
            <tr>
                <td>
                    上传文件<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="FileUrl" name="FileUrl" type="text" />
                    <input id="FileName" name="FileName" type="text" />
                    <div style="float: left; width: 150px;">
                        <input id="file_upload" name="file_upload" type="file" />
                    </div>
                    <div style="float: left; line-height: 40px;" id="div_filename"></div>
                </td>
            </tr>
            <tr>
                <td>
                    备注:
                </td>
                <td>
                    <textarea id="Remark" name="Remark" style="width: 500px;height: 100px"></textarea>

                </td>
            </tr>
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>

<script type="text/javascript">

    $('#file_upload').uploadify({
        'formData': { "path": "AttendanceFile" },
        'swf': '/Scripts/jqueryPlugins/jquery_uploadify/uploadify.swf',
        'uploader': '/SystemSetManager/Upload/UploadImage',
        'buttonText': '上传文件',
        'fileSizeLimit': '5MB',
        'fileTypeDesc': 'Image Files',
        'fileTypeExts': '*.xlsx',
        'onUploadSuccess': function (file, data, response) {
            alert(data);
            var json = $.parseJSON(data);
            if (json.success) {
                $('#div_filename').html("<span ><a name=\"listP\" target=\"_blank\" href=\"" + json.extension.fileFullPath + "\">" + json.extension.orgfileName + "</a> <a href=\"javascript:void(0)\" onclick=\"$(this).parent().remove()\">删除</a></span>");
                $("#FileUrl").val(json.extension.fileUrl);
                $("#FileName").val(json.extension.fileName);
            } else {
                alert(json.msg);
            }
        }
    });



</script>



