<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--添加日志文件log.txt,记录运行SQL的操-->
  <!--<appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="log.txt"/>
    <appendToFile value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
  </appender>-->


  <appender name="InfoLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\InfoLog\" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="2" />
    <maximumFileSize value="1MB" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value="yyyyMMdd&quot;.txt&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <regExToMatch value="^(?!Statement Id:)|Statement Id: \[\w+?\.(?:Insert|Update|Delete)" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <appender name="ErrorLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\ErrorLog\"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="2"/>
    <maximumFileSize value="1M"/>
    <rollingStyle value="Date"/>
    <staticLogFileName value="false"/>
    <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <regExToMatch value="^(?!Statement Id:)|Statement Id: \[\w+?\.(?:Insert|Update|Delete)"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>

  <appender name="OrderAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\Order\"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="2"/>
    <maximumFileSize value="1M"/>
    <rollingStyle value="Date"/>
    <staticLogFileName value="false"/>
    <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <regExToMatch value="^(?!Statement Id:)|Statement Id: \[\w+?\.(?:Insert|Update|Delete)"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>
  
  <appender name="ThirdPartyLoginLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\ThirdPartyLogin\"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="2"/>
    <maximumFileSize value="1M"/>
    <rollingStyle value="Date"/>
    <staticLogFileName value="false"/>
    <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <regExToMatch value="^(?!Statement Id:)|Statement Id: \[\w+?\.(?:Insert|Update|Delete)"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>

  <appender name="PaymentLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\Payment\"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="2"/>
    <maximumFileSize value="1M"/>
    <rollingStyle value="Date"/>
    <staticLogFileName value="false"/>
    <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <regExToMatch value="^(?!Statement Id:)|Statement Id: \[\w+?\.(?:Insert|Update|Delete)"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>

  <appender name="TradingPlatformLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\TradingPlatform\"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="2"/>
    <maximumFileSize value="1M"/>
    <rollingStyle value="Date"/>
    <staticLogFileName value="false"/>
    <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <regExToMatch value="^(?!Statement Id:)|Statement Id: \[\w+?\.(?:Insert|Update|Delete)"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>
  
  <!--定义邮件发送-->
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <authentication value="Basic" />
    <to value="yangongmao@harborhousehome.com" />
    <from value="support@twhome.com.cn" />
    <username value="support@twhome.com.cn" />
    <password value="su123456" />
    <subject value="应用错误消息" />
    <smtpHost value="smtp.corpease.net" />
    <bufferSize value="2048" />
    <!--超长部分是否丢弃-->
    <lossy value="true" />
    <!--日志级别 大于 WARN 的才发邮件-->
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <!--定义邮件的格式-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
    </layout>
  </appender>
  <!--定义写入数据库-->
  <appender name="ExceptionLogAppender" type="log4net.Appender.AdoNetAppender">
    <connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=qas_third;User Id=oms;Password=oms2008;" />
    <commandText value="INSERT INTO log_LogExceptionx (Id, Operators, DepartmentCode, OperationName, OperationIp, LogTime, Thread, LogLevel, Logger, Message, Arguments,LogModule) VALUES (:id, :operators, :departmentcode, :operationname, :operationip, :log_date, :thread, :log_level, :logger, :message, :arguments,:LogModule)"/>
    <bufferSize value="1" />
    <parameter>
      <parameterName value=":id" />
      <dbType value="String" />
      <layout type="SyncSoft.ROM.Infrastructure.Logging.CustomLayout.MyPatternLayout, SyncSoft.ROM.Infrastructure.Logging">
        <param name="ConversionPattern" value="%property{Id}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":operators" />
      <dbType value="String" />
      <layout type="SyncSoft.ROM.Infrastructure.Logging.CustomLayout.MyPatternLayout, SyncSoft.ROM.Infrastructure.Logging">
        <param name="ConversionPattern" value="%property{Operators}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":departmentcode" />
      <dbType value="String" />
      <layout type="SyncSoft.ROM.Infrastructure.Logging.CustomLayout.MyPatternLayout, SyncSoft.ROM.Infrastructure.Logging">
        <param name="ConversionPattern" value="%property{DepartmentCode}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":operationname" />
      <dbType value="String" />
      <layout type="SyncSoft.ROM.Infrastructure.Logging.CustomLayout.MyPatternLayout, SyncSoft.ROM.Infrastructure.Logging">
        <param name="ConversionPattern" value="%property{OperationName}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":operationip" />
      <dbType value="String" />
      <layout type="SyncSoft.ROM.Infrastructure.Logging.CustomLayout.MyPatternLayout, SyncSoft.ROM.Infrastructure.Logging">
        <param name="ConversionPattern" value="%property{OperationIp}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value=":thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="SyncSoft.ROM.Infrastructure.Logging.CustomLayout.MyPatternLayout, SyncSoft.ROM.Infrastructure.Logging">
        <param name="ConversionPattern" value="%property{LogLevel}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":LogModule" />
      <dbType value="String" />
      <size value="50" />
      <layout type="SyncSoft.ROM.Infrastructure.Logging.CustomLayout.MyPatternLayout, SyncSoft.ROM.Infrastructure.Logging">
        <param name="ConversionPattern" value="%property{LogModule}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <!--<parameter>
      <parameterName value=":message" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>-->
    <parameter>
      <parameterName value=":message" />
      <dbType value="String" />
      <layout type="SyncSoft.ROM.Infrastructure.Logging.CustomLayout.MyPatternLayout, SyncSoft.ROM.Infrastructure.Logging">
        <param name="ConversionPattern" value="%property{Message}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":arguments" />
      <dbType value="String" />
      <layout type="SyncSoft.ROM.Infrastructure.Logging.CustomLayout.MyPatternLayout, SyncSoft.ROM.Infrastructure.Logging">
        <param name="ConversionPattern" value="%property{Arguments}"/>
      </layout>
    </parameter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>

  <logger name="InfoLogger">
    <appender-ref ref="InfoLogAppender" />
  </logger>
  <logger name="ErrorLogger">
    <appender-ref ref="ErrorLogAppender"/>
  </logger>
  <logger name="TradingPlatformLogger">
    <appender-ref ref="TradingPlatformLogAppender"/>
  </logger>
  <logger name="ExceptionLogger">
    <appender-ref ref="ExceptionLogAppender"/>
  </logger>
  <logger name="SuccessLogger">
    <appender-ref ref="ExceptionLogAppender"/>
  </logger>
  <logger name="SmtpLogger" additivity="false">
    <level value="ERROR"/>
    <appender-ref ref="SmtpAppender"/>
  </logger>
  <logger name="ThirdPartyLoginLogger" additivity="false">
    <appender-ref ref="ThirdPartyLoginLogAppender"/>
  </logger>
  <logger name="PaymentLogger" additivity="false">
    <appender-ref ref="PaymentLogAppender"/>
  </logger>
  <logger name="OrderLogger" additivity="false">
    <appender-ref ref="OrderAppender"/>
  </logger>
</log4net>
