/* 总体样式 */
body {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div, ul, li, dl, dt, dd, table, td, textarea {
    font-family: "宋体" "黑体" Arial;
    font-size: 12px;
}




.menulist {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

    .menulist li {
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        line-height: 18px;
        padding: 4px 0;
        background-color: #fff;
        border-bottom: 1px dotted #CCCCCC;
        padding-left: 12px;
    }

        .menulist li:hover {
            background-color: #D0E5F5;
            cursor: pointer;
        }

        a {
    text-decoration: none;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}

    a:hover {
        text-decoration: none;
    }

    a.link1:link, a.link1:visited, a.link1:active {
        color: #BBC5DB;
        text-decoration: underline;
    }

    a.link1:hover {
        color: #BBC5DB;
        text-decoration: underline;
    }

    a:link, a:visited, a:active {
        color: #4E6BA9;
        text-decoration: none;
    }

    a:hover {
        color: #40588A;
        text-decoration: none;
    }


body {
    /*background-color: #EFEFEF;*/
    width: 100%;
    height: 100%;
}

    body form {
        /*background-color: #EFEFEF;*/
        width: 100%;
        height: 100%;
    }



.trstyle td {
    background-color: #E3EEFB;
}

.inputtxt {
    width: 80px;
}

input[type=text], input[type=password] {
    width: 100px;
    border: 1px solid #ccc;
}

textarea {
    border: 1px solid #ccc;
}

.mtable {
    border-collapse: collapse; /* 关键属性：合并表格内外边框(其实表格边框有2px，外面1px，里面还有1px哦) */
    border: solid #D3D3D3; /* 设置边框属性；样式(solid=实线)、颜色(#999=灰) */
    border-width: 0; /* 设置边框状粗细：上 右 下 左 = 对应：1px 0 0 1px */
    *color: #555555;
    font-size: 12px;
    width: 100%;
}

    .mtable tr {
        display: table-row;
        vertical-align: inherit;
    }

    .mtable td {
        border: solid #D3D3D3;
        border-width: 0 0 1px 0;
        padding: 2px;
        text-align: left;
        height: 35px;
        display: table-cell;
        vertical-align: inherit;
        /*background-color: White;*/
    }

    .mtable th {
        border: solid #D3D3D3;
        border-width: 0 0 1px 0;
        padding: 2px;
        text-align: left;
        height: 35px;
        display: table-cell;
        vertical-align: inherit;
        font-weight: 900;
        /*background-color: #E0ECFF;*/
    }

.mtable_div {
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
}


.mtable2 {
    border-collapse: collapse; /* 关键属性：合并表格内外边框(其实表格边框有2px，外面1px，里面还有1px哦) */
    border: solid #D3D3D3; /* 设置边框属性；样式(solid=实线)、颜色(#999=灰) */
    border-width: 0; /* 设置边框状粗细：上 右 下 左 = 对应：1px 0 0 1px */
    color: #555555;
    font-size: 12px;
    width: 100%;
}

    .mtable2 tr {
        display: table-row;
        vertical-align: inherit;
    }

    .mtable2 td {
        border: solid #D3D3D3;
        border-width: 1px;
        padding: 2px;
        text-align: left;
        height: 35px;
        display: table-cell;
        vertical-align: inherit;
        background-color: White;
    }

    .mtable2 th {
        border: solid #D3D3D3;
        border-width: 1px;
        padding: 2px;
        text-align: left;
        height: 35px;
        display: table-cell;
        vertical-align: inherit;
        background-color: #E0ECFF;
    }

.error {
    color: red;
}
