

  


@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/HRManager/Scripts/YearHholidayDefinition/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
<input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
<input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            
              <tr>
            <td  >
                年份<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="YearsNum" name="YearsNum"  type="text"  class="Wdate" onclick="WdatePicker({ dateFmt: 'yyyy' });" />
            </td>
        </tr>
            
              <tr>
            <td  >
                开始月<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="BeginMonth" name="BeginMonth"  type="text" class="easyui-numberbox" data-options="min:1,max:12"/>
            </td>
        </tr>
            
              <tr>
            <td  >
                结束月<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="EndMonth" name="EndMonth"  type="text" class="easyui-numberbox" data-options="min:1,max:12"/>
            </td>
       
        </tr>
          
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"]==null||int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>





